@model WMS_Out_Pick_Scan
@{
    Layout = null;
}

<table style="width:100%;"></table>

<form id="Set_Pick_Scan_Form" action="~/WMS_Out/WMS_Out_Task_Preview_Pick_Location_Sub_Post/@Model.Scan_ID" method="post">
    <table class="FormTable_Sim text-nowrap" style="width:100%;">
        <tr>
            <td style="width:10px;"></td>
            <td><h5><strong style="font-size:20px;text-align:center" class="MatSn_Font">@Model.MatSn</strong></h5></td>
        </tr>
        <tr>
            <td style="width:10px;text-align:right">取货库位</td>
            <td style="width:10px;"><input readonly class="form-control input-sm" id="Scan_Location" name="Scan_Location" type="text" style="width:200px;" value="@Model.Scan_Location" /></td>
        </tr>
        <tr>
            <td style="width:10px;text-align:right">取货数量</td>
            <td style="width:10px;"><input class="form-control input-sm NotEmpty_Single" id="Quantity" name="Quantity" type="number" style="width:200px;" value="@Model.Quantity" /></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td style="width:10px;">
                <button type="button" onclick="Set_Pick_Scan()" class="btn btn-primary btn-sm" style="width:60px;">递交</button>
                <button type="button" onclick="Delete_Pick_Scan()" class="btn btn-danger btn-sm" style="margin-left:20px;width:60px;">删除</button>
            </td>
        </tr>
    </table>
</form>

<script>
    function Set_Pick_Scan() {
        if (validateFormByClass('NotEmpty_Single')==false) {
            return false;
        }

        var FormObj = $("#Set_Pick_Scan_Form");
        var PostData = $(FormObj).serialize();
        var Url = $(FormObj).prop("action");

        $.post(Url, PostData, function (result) {
            if (result == "") {
                ReloadPage();
            } else {
                alert(result);
            }
        });
    }

    function Delete_Pick_Scan() {
        if (confirm("确认删除？") == false) {
            return false;
        }

        $.post("/WMS_Out/WMS_Out_Task_Preview_Pick_Location_Sub_Delete_Post/@Model.Scan_ID", function (result) {
            if (result != "") {
                alert(result);
            } else {
                ReloadPage();
            }
        });
    }
</script>