@model WMS_Out_Line
@{
    Layout = null;
    List<char> Char_List = Model.MatSn.ToList();
}

<div style="margin:auto;text-align:center">
    <img src="~/@Model.QRCode_Path" style="width:60%;" />
    <hr />
    @foreach (var C in Char_List)
    {
        <span class="MatSn_Font" style="border-bottom:1px solid #808080; margin-right:2px; font-size:14px;">@C</span>
    }
    <br />
    <span style="font-size:14px;">数量：<span style="font-weight:bold;font-size:16px;">@Model.Quantity.ToString("N0")</span></span>
</div>