@model WMS_Move
@{
    Layout = null;
    List<WMS_Work_Person> List = ViewData["List"] as List<WMS_Work_Person>;

}

<form action="~/WMS_Up/WMS_Up_Task_Sub_Post/@Model.Move_ID" method="post" enctype="multipart/form-data" onsubmit="return validateFormByClass('NotEmpty_Single')">
    <table class="FormTable_Sim text-nowrap">
        <tr>
            <td style="width:10px;text-align:right">移库作业人</td>
            <td style="width:10px">
                <select name="Work_Person" id="Work_Person" class="form-control input-sm NotEmpty" style="width:100px;">
                    <option value="">请选择</option>
                    @foreach (var x in List)
                    {
                        if (Model.Work_Person == x.Person_Name)
                        {
                            <option selected value="@x.Person_Name">@x.Person_Name</option>
                        }
                        else
                        {
                            <option value="@x.Person_Name">@x.Person_Name</option>
                        }
                    }
                </select>
            </td>        
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td style="width:10px;">
                <button type="submit" class="btn btn-primary btn-sm" style="width:60px;">递交</button>
            </td>
        </tr>
    </table>
</form>

<script>

    function Delete_Task() {
        if (confirm("确认删除？") == false) {
            return false;
        }

        $.post("/WMS_Up/WMS_Up_Task_Delete_Post/@Model.Move_ID", function (result) {
            if (result != "") {
                alert(result);
            } else {
                ReloadPage();
            }
        });
    }
</script>