@model WMS_Location
@{ 
    Layout = null;
}

<img src="~/@Model.QRCode_Path" style="width:150px;height:150px;margin-bottom:15px;" /><br />
<span style="font-size:18px;font-weight:bold;">@Model.Location</span>